* {
    box-sizing: border-box;
}

p, h1 {
    margin: 0;
}

body {
    margin: 0;
    background-color: #262A35;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.app-container {
    max-width: 567px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background-color: #333947;
    padding: 20px;
    gap: 30px;
    overflow: hidden;
}
.header {
    display: flex;
    height: 40px;
    width: 100%;
    flex-wrap: nowrap;
    gap: 18px;

    position: sticky;
    top: 0;
    z-index: 100;


}
.header__search_string {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 18px;
    background-color: #262A35;
    border-radius: 12px;
}
.header__search_string input {
    width: 100%;
    padding: 0;
    background: #262A35;
    border: none;
    color: #fff;
    outline: none;
}

.header__search-string input:focus {
    outline: none;
}
.header__settings-button {
    background-color: #262A35;
    padding: 14px;

}
.header__settings-button {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 12px;
}
.fa-filter {
    font-size: 17px;
    color: #6f7481;
}
.fa-magnifying-glass {
 font-size: 20px;
    color: #6f7481;
}
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    overflow-y: auto;

}
.product {
    flex: 0 0 calc(50% - 7px);
    padding: 10px;
    background-color: #262A35;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product__image {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 8px;
    overflow: hidden;
}

.product__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.product__info {
    width: 148px;

}
.product__name {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a .product__controls {
    display: flex;

}
a .product__controls:hover {
    cursor: pointer;
}
a .product__button {
    font-weight: 600;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 10px;
    background-color: #333947;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    gap: 5px;
    outline: none;
    transition: background-color 0.3s;
}
a .product__button:active {
    background-color: #454d60;
}
.no-stock {
    color: #bd5454;
    font-size: 150%;
}
.sale_price {
    font-size: 14px;
    font-weight: 400;
}

